
<div *ngIf="book != undefined">
  <div>
    <ul>
      <li>ISBN: {{isbn}}</li>
      <li>Titel: {{book.title}}</li>
      <li>Author: {{book.author}}</li>
    </ul>
  </div>
  <div>
    <form #form="ngForm">
      Titel: <input
        type="text"
        required
        minlength="5"
        [(ngModel)]="book.title"
        name="title"
        #title="ngModel">
      Author: <input
      type="text"
      [(ngModel)]="book.author"
      name="author"
      #author="ngModel">
      ISBN: <input
      type="text"
      [(ngModel)]="book.isbn"
      name="isbn"
      #isbn="ngModel">
    </form>

    <div [hidden]="!title.errors?.required || !title.errors?.minlength || title.pristine">Der Titel ist kaputt!</div>
  </div>
</div>

